<div class = "displayWrapper ">
  <div class = "displayHeader monthPale">
  <% monthly_budget = (Category.total_budget)/12 %>
    <h1>Monthly spend (monthly budget £<%=monthly_budget %>)</h1>
  </div>
</div>
<div class = "displayContent">
  <div class = "navbarDiv navbarDivNarrow">
    <a href="/transactions/new">
      <div class = "navbarElementDiv transactionLink">
        ADD A NEW TRANSACTION
      </div>
    </a>
    <a href="/categories/new">
      <div class = "navbarElementDiv categoryLink">
        ADD A NEW CATEGORY
      </div>
    </a>
  </div>
  <div class = "displayTableDiv monthTable">
    <table>
      <tr>
        <th>Month</th>
        <th>Transactions</th>
        <th>Total spend</th>
      </tr>
      <% for month in @months %>
      <% total_spend = Transaction.total_by_month(month.name)
         total_transactions = Transaction.display_by_month(month.name).count
         if total_spend < (monthly_budget * 0.9)
            rag_status = "ragGreen"
          elsif total_spend < monthly_budget
            rag_status = "ragAmber"
          else
            rag_status = "ragRed"
          end %>
      <tr >
        <td ><%= month.name %></td>
        <td ><%= total_transactions %></td>
        <td class = "<%=rag_status%>"><%= total_spend %></td>
        <td class = "monthTableLink"><a href="/months/<%=month.id%>">View transactions</a></td>
      </tr>
    <% end %>
    </table>
  </div> <!-- displayTableDiv--> 
</div> <!-- displayContent-->